{% extends "base.html" %}
{% comment %}

  The contents of this file are subject to the terms of the
  Common Development and Distribution License (the "License").
  You may not use this file except in compliance with the License.

  You can obtain a copy of the License in the included LICENSE.txt
  or http://opensource.org/licenses/CDDL-1.0
  See the License for the specific language governing permissions
  and limitations under the License.

  When modifying Covered Code, update the affected files' copyright
  notice with the current year and add your name to its contributors
  list.

  Copyright 2012-2013 Clubhouse Contributors

  File contributors: David Arnold

{% endcomment %}
{% load url from future %}

{% block title %}View Assignments{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    {% for client in clients %}
                        <li class="nav-header">{{ client.name }}</li>
                        {% for client_project in client.project_set.all %}
                            <li>
                                <a href="{% url 'monitoring-dashboard' client_project.id %}">
                                    {% if client_project.unclaimed_issue_count %}
                                        <span class="badge badge-important">{{ client_project.unclaimed_issue_count }}</span>&ensp;
                                    {% endif %}
                                    {{ client_project.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% empty %}
                        <li class="nav-header">No available projects</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span9">
            <div class="row-fluid">
                <h1>Project Monitoring</h1>
                <p class="muted">Choose a project to view details.</p>
                {% for launch_date_project in launch_date_projects %}
                    <hr />
                    <h2>Launching {{ launch_date_project.launch_date }}</h2>
                    {% for project in launch_date_project.projects %}
                        <h3><a href="{% url 'monitoring-dashboard' project.id %}">{{ project.name }}</a></h3>
                        <div class="row-fluid">
                            <div class="span9">
                                <div class="progress progress-success">
                                    <div class="bar" style="width: {{ project.progress.percent }}%;">
                                        {% if project.progress.complete_hours != 0 %}
                                            {{ project.progress.complete_hours }} hours complete
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="span3">
                                {{ project.progress.total_hours }} hours total
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
{% endblock %}
